@(host: String)
@import models._

@main("SpaceShip - Board", host = host) {
  <div id="app"></div>

  <button id="hidden">+</button>
  <div id="log" style="display:none">
    <div id="data"></div>
    <br />
    <button type="button" id="clearAll">CLEAR ALL</button><br />
    <input type="text" id="nameS" />
    <button type="button" id="deleteP">DELETE</button><br />
    <input type="text" id="idB" />
    <button type="button" id="deleteB">DELETE BULLET</button><br />
    <input type="text" id="nameSh" />
    <input type="text" id="point" />
    <button type="button" id="addP">ADD POINT</button>
  </div>

  <script>
      document.getElementById('hidden').addEventListener('click', function(e) {
          var log = document.getElementById('log');
          if(log.style.display == 'none') {
              log.style.display = 'block';
              document.getElementById('hidden').innerHTML = '-';
          } else {
              log.style.display = 'none';
              document.getElementById('hidden').innerHTML = '+';
          }
      });

      document.getElementById('clearAll').addEventListener('click', function(e) {
          fetch('/clear', {
              method: 'POST',
              headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
              },
              body: '{}'
          });
      });

      document.getElementById('deleteP').addEventListener('click', function(e) {
          var name = document.getElementById('nameS').value;
          fetch('/dropP/'+name, {
              method: 'POST',
              headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
              },
              body: '{}'
          });
      });

      document.getElementById('deleteB').addEventListener('click', function(e) {
          var id = document.getElementById('idB').value;
          fetch('/dropB/'+id, {
              method: 'POST',
              headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
              },
              body: '{}'
          });
      });

      document.getElementById('addP').addEventListener('click', function(e) {
          var name = document.getElementById('nameSh').value;
          var point = document.getElementById('point').value;
          fetch('/addPnt/'+name+'/'+point, {
              method: 'POST',
              headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
              },
              body: '{}'
          });
      });

      var source = new EventSource('/source');
      source.onopen = function() {
          fetch('/getState', {
              method: 'GET',
              headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
              }
          }).then((resp) => resp.json())
            .then(function(data) {
               Spaceships.init(document.getElementById('app'),data);
            });
      }
      source.onmessage = function(e) {
           data = e.data;
           //document.getElementById('data').innerHTML =JSON.stringify(data, null, 2);
           Spaceships.init(document.getElementById('app'), JSON.parse(data));
      };
  </script>
}
