@(id: Int, host: String)
@import models._

@main("SpaceShip - Board", host = host) {
  <div id="app"></div>

  <script>
    var source = new EventSource('/source/@id');
    source.onopen = function() {
      fetch('/getState/@id', {
          method: 'GET',
          headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
          }
      }).then((resp) => resp.json())
        .then(function(data) {
           Spaceships.board(document.getElementById('app'),data);
        });
    }
    source.onmessage = function(e) {
       var data = e.data;
       Spaceships.board(document.getElementById('app'), JSON.parse(data));
    };
  </script>
}
