@(id: Int, host: String)
@import models._

@main("SpaceShip - Controller", host = host) {
  <h4 id="name" style="text-align:center;"></h4>
  <div id="gamepad"></div>
  <div>&nbsp;</div>

  <script>
    var get = {};
    get["id"] = "@id";
    get["host"] = "@host";
    var source = new EventSource('/source');

    function getShipId(el) {
        return el.id == get.id;
    }

    source.onopen = function() {
        fetch('/getState', {
              method: 'GET',
              headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
              }
          }).then((resp) => resp.json())
            .then(function(data) {
                var ship = data.ships.filter(getShipId);
                if(ship.length > 0) {
                    ship = ship[0];
                    document.getElementById("name").innerHTML = ship.name;
                    Spaceships.joystick(document.getElementById('gamepad'), data, ship, get.host);
                } else {
                    document.location.href = "/m";
                }
            });
    }
    source.onmessage = function(e) {
      var data = e.data;
      var ship = JSON.parse(data).ships.filter(getShipId);
      if(ship.length > 0) {
          Spaceships.joystick(document.getElementById('gamepad'), JSON.parse(data), ship[0], get.host);
      } else {
          document.location.href = "/m";
      }
    };
  </script>
}
