@(id: Int, idShip: Int, host: String)
@import models._

@main("SpaceShip - Controller", host = host) {
  <div id="spacePad">
    <h4 id="name"></h4>
    <div id="gamepad"></div>
    <div>&nbsp;</div>
  </div>

  <script>
    let get = {};
    get["id"] = "@id";
    get["idShip"] = "@idShip";
    get["host"] = "@host";
    let source = new EventSource('/source/@id');

    function getShipId(el) {
        return el.id == get.idShip;
    }

    source.onopen = function() {
        fetch('/getState/@id', {
              method: 'GET',
              headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
              }
          }).then((resp) => resp.json())
            .then(function(data) {
                let ship = data.ships.filter(getShipId);
                if(ship.length > 0) {
                    ship = ship[0];
                    document.getElementById("name").innerHTML = ship.name;
                    Spaceships.joystick(document.getElementById('gamepad'), get.id, data, ship, get.host);
                } else {
                    document.location.href = "/m";
                }
            });
    }
    source.onmessage = function(e) {
      let data = e.data;
      let ship = JSON.parse(data).ships.filter(getShipId);
      Spaceships.joystick(document.getElementById('gamepad'), get.id, JSON.parse(data), ship[0], get.host);
    };
  </script>
}
