@(id: Int, host: String)

@import models._

@main("SpaceShip - Create Ship", host = host) {
  <h3 style="text-align:center;">Créer un vaisseau</h3>
  <div style="text-align:center;padding-bottom:10px;">
    <label for="name">Choisis un nom :</label>
    <input type="text" id="name" />
    <label for="color">Choisis une couleur :</label>
    <input type="color" value="#cccccc" id="color" name="textcolor" />
    <button type="button" id="add">Let's go !</button>
    <br />
    <div style="color:red" id="error"></div>
  </div>

  <script>
      let wsCreateShip = new WebSocket("ws://@host/wsG/@id");
      wsCreateShip.onmessage = function(event) {
          wsCreateShip.close();
          document.location.href = "/control/@id/"+event.data;
      }

      document.getElementById('add').addEventListener('click', function(e) {
          let name = document.getElementById('name').value;
          let color = document.getElementById('color').value;

          if(name.length < 12 && name.length > 2 && name[0] != "?" && name != " ") {
              let js = JSON.stringify({"action": "addShip", "name": name, "color": color.slice(1)});
              wsCreateShip.send(js);
          } else {
              document.getElementById('error').innerHTML="Le nom du vaisseau doit contenir 3 à 12 caractère et aucun caractère spécial.";
          }
      });
  </script>
}
