@(id: Int, name: String, color: String, host: String)
@import models._
@import play.api.libs.json.Json

@main("SpaceShip - Perdu !", host = host) {
  <div style="text-align:center">
      <h4 id="name">Tu as perdu !</h4>
      <button onclick="replay()">Rejouer avec votre vaisseau</button>
      <button onclick="recreate()">Créer un nouveau vaisseau</button>
  </div>

  <script>
    let wsReplay = new WebSocket("ws://@host/wsG/@id");
    wsReplay.onopen = function(event) {
        console.log("connect !");
    }
    wsReplay.onmessage = function(event) {
        document.location.href = "/control/@id/"+event.data;
    }

    function recreate() {document.location.href="/m/@id";}
    function replay() {
        let js = JSON.stringify({"action": "addShip", "name": "@name", "color": "@color"});
        wsReplay.send(js);
    }
  </script>
}
