@(name: String, color: String)
@import models._
@import play.api.libs.json.Json

@main("SpaceShip - Perdu !") {
  <div style="text-align:center">
      <h4 id="name">Tu as perdu !</h4>
      <button onclick="replay()">Rejouer</button>
      <button onclick="recreate()">Recréer le vaisseau</button>
  </div>

  <script>
    var ship = {};
    ship["name"] = "@name";
    ship["color"] = "@color";
    function recreate() {document.location.href="/m";}
    function replay() {
      fetch('/addP/'+ ship.name + '/' + ship.color, {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: '{}'
            }).then(function(r) {
              document.location.href = "/control/"+ship.name;
            });
    }
  </script>
}
